RewriteOptions inherit
Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

DirectoryIndex home.php
RewriteCond %{HTTP_REFERER} !^http://android.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://android.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://auth.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://auth.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beta.my.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://beta.my.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://docenti.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://docenti.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ebook.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ebook.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://images.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://images.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lim.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lim.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://my.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://my.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://my.preview.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://my.preview.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://os.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://os.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://preview.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://preview.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://school.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://school.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://status.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://status.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://store.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://store.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://studenti.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://studenti.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://support.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://support.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.android.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.android.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.auth.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.auth.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beta.my.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.beta.my.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.docenti.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.docenti.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ebook.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ebook.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.images.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.images.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lim.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lim.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.my.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.my.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.my.preview.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.my.preview.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.os.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.os.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.preview.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.preview.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.school.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.school.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.status.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.status.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.store.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.store.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.studenti.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.studenti.lightschool.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.support.lightschool.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.support.lightschool.it$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]


